@model ImpactWebsite.Models.OrderModels.Module

@{
    ViewData["Title"] = "Create";
}

@{ string strSpacer = "&nbsp;&nbsp;"; }

<form asp-action="Create">
    <div class="admin-margin">
        <div class="page-heading">
            <h3>Create Module</h3>
        </div>

        <input type="hidden" asp-for="UnitPrice" />

        <div>
            <dl class="dl-horizontal admin-margin-detail">

                <dt>
                    @Html.DisplayNameFor(model => model.ModuleId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ModuleId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ModuleName)
                </dt>
                <dd class="form-group form-no-max-width">
                    <input asp-for="ModuleName" class="form-control" />
                    <span asp-validation-for="ModuleName" class="text-danger"></span>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="form-group form-no-max-width">
                    <textarea asp-for="Description" class="form-control">@Html.DisplayFor(model => model.Description)</textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UnitPriceId)
                </dt>
                <dd class="form-group">
                    <input asp-for="UnitPriceId" class="form-control" />
                    <span asp-validation-for="UnitPriceId" class="text-danger"></span>
                </dd>

            </dl>
            <a asp-action="Index" class="btn btn-default" role="button">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                @Html.Raw(strSpacer)Back to list
            </a>

            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
