@model ImpactWebsite.Models.OrderModels.Module

@{
    ViewData["Title"] = "Details";
}

@{ string strSpacer = "&nbsp;&nbsp;"; }

<div class="admin-margin">
    <div class="page-heading">
        <h3>Module Details :@Html.Raw(strSpacer)@Html.DisplayFor(model => model.ModuleName)</h3>
    </div>

    <div>
        <dl class="dl-horizontal admin-margin-detail">

            <dt>
                @Html.DisplayNameFor(model => model.ModuleId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ModuleId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModuleName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ModuleName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UnitPrice.UnitPriceId)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Index" class="btn btn-default" role="button">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            @Html.Raw(strSpacer)Back to list
        </a>
        <a asp-action="Edit" asp-route-id="@Model.ModuleId"
           role="button" class="btn btn-default">
            <span class="fa fa-pencil-square-o"></span>@Html.Raw(strSpacer)Edit
        </a>
    </div>
</div>
