@using ImpactWebsite.Models.BillingModels
@model IEnumerable<ImpactWebsite.Models.BillingModels.BillingDetailViewModel>

@{
    ViewData["Title"] = "BillingDetails";
}

@{ string strSpacer = "&nbsp;&nbsp;"; }
@{
    string noteFromUser = null;
    string uploadedFileName = null;
    if (Model != null)
    {
        noteFromUser = Model.FirstOrDefault().NoteFromUser;
        uploadedFileName = Model.FirstOrDefault().UploadedFileName;
    }
}


@if (Model != null)
{
    <div class="panel">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered table-invoice table-invoice-detail">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>@Html.DisplayNameFor(model => model.ModuleName)</th>
                            <th class="text-center">Unit Price</th>
                        </tr>
                    </thead>

                    <tbody>
                        @for (int i = 0; i < Model.Count(); i++)
                {
                    var moduleNum = @i + 1;
                            <tr>
                                <td>@moduleNum</td>
                                <td>@Model.ElementAt(@i).ModuleName</td>
                                <td class="text-center"><strong>$@Model.ElementAt(@i).UnitPrice</strong></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            @if (uploadedFileName != null)
                {
                <div class="col-md-6">
                    <table class="table table-bordered table-invoice table-invoice-detail">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.UploadedFileName)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayFor(Model => Model.FirstOrDefault().UploadedFileName)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            }

            @if (noteFromUser != null)
                {
                <div class="col-md-6">
                    <table class="table table-bordered table-invoice table-invoice-detail displayFullNote">
                        <thead>
                            <tr>
                                <th>
                                    Note
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayFor(Model => Model.FirstOrDefault().NoteFromUser)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
}

else
{
    <div class="panel">
        <div style="margin:30px;">
            <p>You haven't selected module(s) yet. </p>
        </div>
        <a class="impact-btn" id="Test" asp-controller="Order" asp-action="Index">
            Start Analysis
        </a>
        <br />
    </div>
}
