@model IEnumerable<ImpactWebsite.Models.OrderModels.Order>

@{
    ViewData["Title"] = "Order Cancel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ string strSpacer = "&nbsp;&nbsp;"; }

<h2><i class="fa fa-ban" aria-hidden="true"></i>
@Html.Raw(strSpacer)Order Cancelled</h2>
<br />
<table class="table orderDetailTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoteFromUser)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        var totalAmountDollar = item.TotalAmount / 100;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderedDate)
            </td>
            <td>
                $@totalAmountDollar
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td class="noOverFlowText">
                @Html.DisplayFor(modelItem => item.NoteFromUser)
            </td>
        </tr>
    }
</table>

<a asp-controller="OrderSummary"
   asp-action="Index"
   class="btn btn-default" role="button">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
    @Html.Raw(strSpacer)Back to List
</a>
