@model IEnumerable<ImpactWebsite.Models.OrderModels.Order>

@{
    ViewData["Title"] = "Order Complete";
}

@{ string strSpacer = "&nbsp;&nbsp;"; }

<h2><i class="fa fa-file-o"></i>@Html.Raw(strSpacer)Payment Complete</h2>
<br />
<table class="table orderDetailTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoteFromUser)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderedDate)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td class="noOverFlowText">
                @Html.DisplayFor(modelItem => item.NoteFromUser)
            </td>
        </tr>
    }
</table>

<a asp-controller="OrderSummary"
   asp-action="Index"
   class="btn btn-default" role="button">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
    @Html.Raw(strSpacer)Back to List
</a>