@using Microsoft.Extensions.Options
@using ImpactWebsite.Models.BillingModels
@model IEnumerable<ImpactWebsite.Models.BillingModels.BillingDetailViewModel>

@inject IOptions<StripeSettings> Stripe

@{
    ViewData["Title"] = "Billing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ string strSpacer = "&nbsp;&nbsp;"; }

<!--Display payment details as a partial view -->
<h2>
    <i class="fa fa-credit-card"></i>
    @Html.Raw(strSpacer)Billing Infomation
</h2>

<hr class="customHorizontalRule" />

<!--
    Display and connect to Stripe API
    There are 3 conditions to be able to proceed the payment.
    1. Total amount exists
    2. Total amount is not 0 (default module)
    3. The client has a billing address
-->
<h3>
    <i class="fa fa-cc-stripe" aria-hidden="true"></i>
    @Html.Raw(strSpacer)Payment
</h3>
@if (@ViewData["Amount"] != null && (int)@ViewData["Amount"] != 0)
{
    var orderId = 0;
    var bAddressId = (int)@ViewData["BillingAddressId"];
    foreach (var a in Model) { orderId = a.OrderId; }

    <!--
        Create options to send to Stripe API.
        Billing address can be sent from the API by turning on the option.
        Default currecty is CAD, however it can be changed by dynmically with extented functions
    -->
    <form action="/Billing/Charge" method="post">

        <div class="list-group">
            <h3 class="list-group-item" style="margin:30px; width:250px;">
                <b>Total Amount: </b>$@ViewData["AmountDisplay"]
            </h3>
        </div>

        <input type="submit"
               id="StripePay"
               value="Pay with Card  >>"
               class="btn btn-primary"
               role="button"
               data-key='@Stripe.Value.PublishableKey'
               data-amount="@ViewData["Amount"]"
               data-currency="cad"
               data-name="Impact Website"
               data-description="@ViewData["ModuleCount"] Module(s)"
               data-email="@ViewData["Email"]"
               data-billing-address="false"
               data-zip-code="false"
               data-locale="auto"
               data-image="/images/favicon.png" />

        <a asp-controller="Home"
           asp-action="Index"
           role="button"
           class="impact-btn neworder-btn"
           style="margin-top:15px; display:table;">
            Cancel
        </a>

        <!--
            Creates Stripe tokens for custom payment process.
            In this case, deals with a specific order with a specific user billing address
        -->
        <script src="https://checkout.stripe.com/v2/checkout.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>

        <script>
            $(document).ready(function () {
                $('#StripePay').on('click', function (event) {
                    event.preventDefault();
                    var $button = $(this),
                        $form = $button.parents('form');
                    var opts = $.extend({}, $button.data(), {
                        token: function (result) {

                            var $stripeToken = $('<input>').attr({ type: 'hidden', name: 'stripeToken', value: result.id })
                            var $stripeEmail = $('<input>').attr({ type: 'hidden', name: 'stripeEmail', value: result.email })
                            var $orderId = $('<input>').attr({ type: 'hidden', name: 'orderId', value: @orderId })
                            var $bAddressId =$('<input>').attr({ type: 'hidden', name: 'bAddressId', value: @bAddressId })

                            $form.append($stripeToken).append($stripeEmail).append($orderId).append($bAddressId)
                            .submit();
                        }
                    });
                    StripeCheckout.open(opts);
                });
            });
        </script>
    </form>


}
else if (@ViewData["Amount"] != null && (int)@ViewData["Amount"] == 0)
{
    var orderId = 0;
    foreach (var a in Model) { orderId = a.OrderId; }

    <div style="margin:30px 30px 0px 30px; display:table;">
        <a class="btn btn-primary" 
           href="@Url.Action("ChargeDefault", "Billing", new { orderId = @orderId})">
            Complete Order
        </a>
    </div>
}
else
{
    <div style="margin:30px 30px 0px 30px; display:table;">
        <p> No payment to make </p>
    </div>
}

<br />
<hr />
@Html.Partial("_BillingDetails", (IEnumerable<BillingDetailViewModel>)ViewBag.BillingDetails)




<!--Display billing address details as a partial view
<hr/>
@Html.Partial("_BillingAddress", (BillingAddress)ViewBag.BillingAddress)
<br />
-->
