@model ImpactWebsite.Models.OrderModels.Promotion

@{
    ViewData["Title"] = "Edit";
}

@{ string strSpacer = "&nbsp;&nbsp;"; }

<form asp-action="Edit">
    <div class="admin-margin">
        <div class="page-heading">
            <h3>Module Details :@Html.Raw(strSpacer)@Html.DisplayFor(model => model.PromotionName)</h3>
        </div>

        <input type="hidden" asp-for="PromotionId" />

        <div>
            <dl class="dl-horizontal admin-margin-detail">

                <dt>
                    @Html.DisplayNameFor(model => model.PromotionId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PromotionId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PromotionName)
                </dt>
                <dd class="form-group form-no-max-width">
                    <input asp-for="PromotionName" class="form-control" />
                    <span asp-validation-for="PromotionName" class="text-danger"></span>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PromotionCode)
                </dt>
                <dd class="form-group">
                    <input asp-for="PromotionCode" class="form-control" />
                    <span asp-validation-for="PromotionCode" class="text-danger" style="margin-left:10px;"></span>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DiscountMethod)
                </dt>
                <dd class="form-group">
                    <select asp-for="DiscountMethod">
                        <option value="0">Fixed</option>
                        <option value="1">Percentage</option>
                    </select>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DiscountRate)
                </dt>
                <dd class="form-group">
                    <input asp-for="DiscountRate" class="form-control" />
                    <span asp-validation-for="DiscountRate" class="text-danger"></span>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateFrom)
                </dt>
                <dd class="form-group">
                    <input asp-for="DateFrom" type="text" id="datepickerFrom" class="form-control" />
                    <span asp-validation-for="DateFrom" class="text-danger"></span>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateTo)
                </dt>
                <dd class="form-group">
                    <input asp-for="DateTo" type="text" id="datepickerTo" class="form-control" />
                    <span asp-validation-for="DateTo" class="text-danger"></span>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="form-group form-no-max-width">
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>
                <dd class="form-group">
                    <input asp-for="IsActive" class="checkbox" />
                </dd>

            </dl>

            <a asp-action="Details" asp-route-id="@Model.PromotionId"
               role="button" class="btn btn-default">
                <span class="fa fa-info"></span>@Html.Raw(strSpacer)Details
            </a>

            <input type="submit" value="Save" class="btn btn-primary" />
        </div>

    </div>
</form>

@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.css" />
    <script type="text/javascript" src="~/lib/jquery-ui/jquery-ui.js"></script>

    <script>
        $(function () {
            $("#datepickerFrom").datepicker();
            $("#datepickerTo").datepicker();
        });
    </script>
}
