@using ImpactWebsite.Models.OrderModels
@model IEnumerable<ImpactWebsite.Models.OrderModels.Order>

@{
    ViewData["Title"] = "OrderSummary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ string strSpacer = "&nbsp;&nbsp;"; }


<div class="page-heading">
    <h3>
        <i class="fa fa-list-ul" aria-hidden="true"></i>
        @Html.Raw(strSpacer)Order Summary
    </h3>
    <ul class="breadcrumb">
        <li>
            Admin account
        </li>
        <li class="active">
            Order Summary
        </li>
    </ul>
</div>

<div class="wrapper">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    Summary of modules
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <table class="table table-hover general-table">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OrderNum)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OrderedDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ModuleIds)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TotalAmount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OrderStatus)
                                </th>
                                <th>Details / Edit</th>
                            </tr>
                        </thead>
                        <tbody>

                            @for (int i = 0; i < Model.Count(); i++)
                            {
                                var totalAmountDollar = @Model.ElementAt(@i).TotalAmount / 100;
                                var orderNum = @i + 1;
                                <tr>
                                    <td>
                                        @orderNum
                                    </td>
                                    <td>
                                        @Model.ElementAt(@i).OrderNum
                                    </td>
                                    <td>
                                        @Model.ElementAt(@i).OrderedDate.ToString("yyyy-MM-dd")
                                    </td>
                                    <td>
                                        @Model.ElementAt(@i).ModuleIds
                                    </td>
                                    <td>
                                        $@totalAmountDollar
                                    </td>
                                    <td>
                                        @Model.ElementAt(@i).OrderStatus
                                    </td>
                                    <td>
                                        <a asp-controller="OrderSummary"
                                           asp-action="OrderDetails"
                                           asp-route-orderId="@Model.ElementAt(@i).OrderId"
                                           class="btn btn-default btn-sm" role="button">
                                            <i class="fa fa-tasks" aria-hidden="true"></i>
                                            @Html.Raw(strSpacer)Details / Edit
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>
