@model ImpactWebsite.Models.OrderModels.Saving

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Saving</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="SavingId" />
        <dt>
            @Html.DisplayNameFor(model => model.SavingName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SavingName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SavingRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SavingRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SelectFrom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SelectFrom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SelectTo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SelectTo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
