@model ImpactWebsite.Models.OrderModels.Saving

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ string strSpacer = "&nbsp;&nbsp;"; }

<form asp-action="Edit">
    <div class="admin-margin">
        <div class="page-heading">
            <h3>Saving Details :@Html.Raw(strSpacer)@Html.DisplayFor(model => model.SavingName)</h3>
        </div>

        <input type="hidden" asp-for="SavingId" />

        <div>
            <dl class="dl-horizontal admin-margin-detail">

                <dt>
                    @Html.DisplayNameFor(model => model.SavingName)
                </dt>
                <dd class="form-group">
                    <input asp-for="SavingName" class="form-control" />
                    <span asp-validation-for="SavingName" class="text-danger"></span>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SavingRate)
                </dt>
                <dd class="form-group">
                    <input asp-for="SavingRate" class="form-control" />
                    <span asp-validation-for="SavingRate" class="text-danger"></span>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SelectFrom)
                </dt>
                <dd class="form-group slider-width">
                    <input asp-for="SelectFrom" class="form-control" />
                    <span asp-validation-for="SelectFrom" class="text-danger"></span>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SelectTo)
                </dt>
                <dd class="form-group slider-width">
                    <input asp-for="SelectTo" class="form-control" />
                    <span asp-validation-for="SelectTo" class="text-danger"></span>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="form-group form-no-max-width">
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>
                <dd class="form-group">
                    <input asp-for="IsActive" class="checkbox" />
                </dd>

            </dl>

            <a asp-action="Details" asp-route-id="@Model.SavingId"
               role="button" class="btn btn-default">
                <span class="fa fa-info"></span>@Html.Raw(strSpacer)Details
            </a>

            <input type="submit" value="Save" class="btn btn-primary" />

        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
}


