@model ImpactWebsite.Models.OrderModels.Order

@{
    ViewData["Title"] = "Delete";
}

@{ string strSpacer = "&nbsp;&nbsp;";
    var totalAmount = Model.TotalAmount / 100;
    var uploadedFileName = Model.UploadedFileName;
    var filePath = Model.UploadedFilePath;
    string fileLink = filePath + uploadedFileName;
}

<div class="admin-margin">
    <div class="text-danger">
        <h3>Are you sure you want to delete this ?</h3>
    </div>
    <div class="page-heading">
        <h3>Order Details :@Html.Raw(strSpacer)@Html.DisplayFor(model => model.OrderNum)</h3>
    </div>

    <div>
        <dl class="dl-horizontal admin-margin-detail">
            <dt>
                @Html.DisplayNameFor(model => model.UserEmail)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserEmail)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OrderedDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OrderedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </dt>
            <dd>
                $@totalAmount
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UploadedFileName)
            </dt>
            <dd>
                <a href="@fileLink">
                    @Html.DisplayFor(Model => Model.UploadedFileName)
                </a>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NoteFromUser)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NoteFromUser)
            </dd>

            <dt></dt>
            <dd></dd>
            <dt></dt>
            <dd></dd>

            <dt>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OrderStatus)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SalesRep)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SalesRep)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NoteFromAdmin)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NoteFromAdmin)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DeliveredDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DeliveredDate)
            </dd>

        </dl>
    </div>

    <form asp-action="Delete">
        <a asp-action="Index" class="btn btn-default" role="button">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            @Html.Raw(strSpacer)Back to list
        </a>

        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
