@model ImpactWebsite.Models.OrderModels.Order

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ string strSpacer = "&nbsp;&nbsp;";
    var totalAmount = Model.TotalAmount / 100;
    var uploadedFileName = Model.UploadedFileName;
    var filePath = Model.UploadedFilePath;
    string fileLink = filePath + uploadedFileName;
}

<form asp-action="Edit">
    <div class="admin-margin">
        <div class="page-heading">
            <h3>Order Details :@Html.Raw(strSpacer)@Html.DisplayFor(model => model.OrderNum)</h3>
        </div>

        <input type="hidden" asp-for="OrderId" />
        <input type="hidden" asp-for="UserEmail" />
        <input type="hidden" asp-for="UserId" />
        <input type="hidden" asp-for="OrderNum" />
        <input type="hidden" asp-for="OrderedDate" />
        <input type="hidden" asp-for="NoteFromUser" />
        <input type="hidden" asp-for="ModuleIds" />
        <input type="hidden" asp-for="SelectionDiscount" />
        <input type="hidden" asp-for="TotalAmount" />
        <input type="hidden" asp-for="PromotionId" />
        <input type="hidden" asp-for="IsPromotionCodeApplied" />
        <input type="hidden" asp-for="UploadedFileName" />
        <input type="hidden" asp-for="InvestmentId" />
        <input type="hidden" asp-for="ModifiedDate" />
        <input type="hidden" asp-for="UploadedFilePath" />

        <div>
            <dl class="dl-horizontal admin-margin-detail">
                <dt>
                    @Html.DisplayNameFor(model => model.UserEmail)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.UserEmail)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OrderedDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderedDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TotalAmount)
                </dt>
                <dd>
                    $@totalAmount
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UploadedFileName)
                </dt>
                <dd>
                    <a href="@fileLink">
                        @Html.DisplayFor(model => model.UploadedFileName)
                    </a>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NoteFromUser)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NoteFromUser)
                </dd>


                <dt></dt>
                <dd></dd>
                <dt></dt>
                <dd></dd>


                <dt>
                    @Html.DisplayNameFor(model => model.OrderStatus)
                </dt>
                <dd class="form-group">
                    <select asp-for="OrderStatus" asp-items="Html.GetEnumSelectList<ImpactWebsite.Models.OrderModels.OrderStatusList>()" class="form-control"></select>
                    <span asp-validation-for="OrderStatus" class="text-danger"></span>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SalesRep)
                </dt>
                <dd class="form-group">
                    <input asp-for="SalesRep" class="form-control" />
                    <span asp-validation-for="SalesRep" class="text-danger"></span>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NoteFromAdmin)
                </dt>
                <dd class="form-group">
                    <input asp-for="NoteFromAdmin" class="form-control" />
                    <span asp-validation-for="NoteFromAdmin" class="text-danger"></span>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DeliveredDate)
                </dt>
                <dd class="form-group">
                    <input asp-for="DeliveredDate" type="text" id="datepicker" class="form-control"/>
                    <span asp-validation-for="DeliveredDate" class="text-danger"></span>
                </dd>
            </dl>

            <a asp-action="Details" asp-route-id="@Model.OrderId"
               role="button" class="btn btn-default">
                <span class="fa fa-info"></span>@Html.Raw(strSpacer)Details
            </a>

            <input type="submit" value="Save" class="btn btn-primary" />

        </div>
    </div>
</form>

@section scripts
{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.css" />
    <script type="text/javascript" src="~/lib/jquery-ui/jquery-ui.js"></script>

    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
}



