@model IEnumerable<ImpactWebsite.Models.OrderModels.TempOrderViewModel>

@using Microsoft.AspNetCore.Identity
@using ImpactWebsite.Models

@{
    ViewData["Title"] = "Order";
    IFormatProvider fp = new System.Globalization.CultureInfo("en-CA");
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{ string strSpacer = "&nbsp;&nbsp;"; }

<!-- page heading start-->
<div class="page-heading">
    <h3>
        Select modules
    </h3>
    <ul class="breadcrumb">
        <li>
            Analysis
        </li>
        <li class="active">Select modules</li>
    </ul>
    <div class="state-info">
        <section class="panel">
            <div class="panel-body">
                <div style="margin: 9px 0 5px;" class="btn-group">
                    <button class="btn btn-success" type="button">Request information</button>
                </div>
            </div>
        </section>
        <section class="panel">
            <div class="panel-body">
                <div style="margin: 9px 0 5px;" class="btn-group">
                    <button class="btn btn-primary" type="button">
                        <i class="fa fa-usd" aria-hidden="true"></i>@Html.Raw(strSpacer)USD</button>
                    <button class="btn btn-primary" type="button">
                        <i class="fa fa-gbp" aria-hidden="true"></i>@Html.Raw(strSpacer)GBP</button>
                    <button class="btn btn-primary" type="button">
                        <i class="fa fa-eur" aria-hidden="true"></i>@Html.Raw(strSpacer)EUR</button>
                </div>
            </div>
        </section>
    </div>

</div>

<form action="/Order/NewOrder" method="post">

    <div class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Summary of modules
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                        </span>
                    </header>

                    <div class="panel-body">
                        <div class="adv-table">
                            <table class="display table table-hover general-table" id="dynamic-table">
                                <thead>
                                    <tr>
                                        <th style="width:5%">
                                            #
                                        </th>
                                        <th style="width:30%">
                                            @Html.DisplayNameFor(model => model.Modules.ModuleName)
                                        </th>
                                        <th style="width:45%">
                                            Module Detail
                                        </th>
                                        <th style="width:10%">
                                            @Html.DisplayNameFor(model => model.Modules.UnitPrice)
                                        </th>
                                        <th style="width:10%">
                                            Select
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Count(); i++)
                                    {
                                        <tr>
                                            <td>@Model.ElementAt(@i).Modules.ModuleId</td>
                                            <td>
                                                <label asp-for="@Model.ElementAt(@i).IsChecked" style="font-weight:normal;">
                                                    @Model.ElementAt(@i).Modules.ModuleName
                                                </label>
                                            </td>
                                            <td>
                                                @Model.ElementAt(@i).Modules.Description
                                            </td>
                                            <td>
                                                <label asp-for="@Model.ElementAt(@i).IsChecked" style="font-weight:normal;">
                                                    @Model.ElementAt(@i).Modules.UnitPrice.Price.ToString("C0", fp)
                                                </label>
                                            </td>
                                            <td>
                                                <div class="flat-green single-row">
                                                    <div class="radio _margin-top-0 _margin-bottom-0">
                                                        @if (@i == 0)
                                                        {
                                                            <input type="checkbox" checked="checked" disabled="disabled" value='@Html.Raw(Json.Serialize(Model.ElementAt(@i)))' />
                                                            <input type="hidden" name="modules" value='@Html.Raw(Json.Serialize(Model.ElementAt(@i)))' />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" name="modules" class="chkBox" value='@Html.Raw(Json.Serialize(Model.ElementAt(@i)))' />
                                                        }
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <section class="panel">
                    <div class="panel-body">
                        <table class="table table-hover general-table">
                            <thead>
                                <tr>
                                    <th class="inv-col"><span>Order total</span></th>
                                    <th class="inv-col"><span>Total</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Total value</td>
                                    <td>
                                        <span name="totalPrice"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Multiple module saving</td>
                                    <td>
                                        <input type="hidden" name="selectionDiscount" value="0" style="width:50px; border:none;" />
                                        <span class="text-danger" name="selectionDiscountDisplay"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Total to pay</td>
                                    <td>
                                        <input type="hidden" name="totalAmountToPay" value="0" style="width:60px; border:none;" />
                                        <span name="totalAmountToPayDisplay"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>

            <div class="col-md-6">
                <section class="panel">
                    <div class="panel-body">
                        Where shall we send your analysis?<br><br>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <b><input class="form-control" type="email" required="required" name="email" value="@ViewData["Email"]" placeholder="Enter your email" /></b>
                        }
                        else
                        {
                            <input class="form-control" type="email" required="required" name="email" placeholder="Enter your email" />
                        }
                        <div class="form-group" style="margin-top:60px; margin-bottom: 0;">
                            <button type="submit" class="btn btn-primary btn-new-order">
                                Next step&nbsp;
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</form>

<div id="AddUserForm"></div>

@section scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.css" />

    <!--icheck-->
    <link rel="stylesheet" href="~/lib/iCheck/skins/flat/green.css">
    <script type="text/javascript" src="~/js/icheck-init.js"></script>
    <script type="text/javascript" src="~/lib/iCheck/icheck.js"></script>

    <!--dynamic table-->
    <script type="text/javascript" language="javascript" src="~/lib/datatables/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" language="javascript" src="~/lib/datatables/media/js/dataTables.bootstrap.js"></script>

    <!--dynamic table initialization -->
    <script type="text/javascript" src="~/js/dynamic_table_init_modules.js"></script>



    <script type="text/javascript">

        $(document).ready(function () {
            $("input").on("ifChanged", function () {
                calculateTotal();
            });
        });

        function calculateTotal() {
            totalPrice = 0;
            selectionDiscount = 0;
            totalAmountToPay = 0;

            $(":checkbox:checked.chkBox").each(function () {
                var jsonObj = JSON.parse($(this).val());
                console.log($(this).val());
                totalPrice += +jsonObj.modules.unitPrice.price;
            });

            var selectedModules = $(':checkbox:checked.chkBox').length;

            if (selectedModules >= '@ViewBag.D1SelectFrom' && selectedModules <= '@ViewBag.D1SelectTo' ) {
                selectionDiscount = '@ViewBag.D1DiscountRate';
            } else if (selectedModules >= '@ViewBag.D1SelectTo' && selectedModules <= '@ViewBag.D2SelectTo') {
                selectionDiscount = '@ViewBag.D2DiscountRate';
            }

            $('span[name=totalPrice]').text('$' + totalPrice);

            $('input[name=selectionDiscount]').val(selectionDiscount);

            if (selectionDiscount != null || selectionDiscount != 0) {
                $('span[name=selectionDiscountDisplay]').text('-$' + selectionDiscount);
            }

            totalAmountToPay = (totalPrice - selectionDiscount);

            $('input[name=totalAmountToPay]').val(totalAmountToPay);

            if (totalAmountToPay != null || totalAmountToPay != 0) {
                $('span[name=totalAmountToPayDisplay]').text('$' + totalAmountToPay);
            }
        }
    </script>

}
