@model IEnumerable<ImpactWebsite.Models.OrderModels.TempOrder>

@using Microsoft.AspNetCore.Identity
@using ImpactWebsite.Models

@{
    ViewData["Title"] = "Index";
    IFormatProvider fp = new System.Globalization.CultureInfo("en-CA");
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{ string strSpacer = "&nbsp;&nbsp;"; }

<h2><i class="fa fa-check-square-o"></i>@Html.Raw(strSpacer)Select Modules</h2>

<form action="/Order/NewOrder" method="post">

    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th class="col-md-5">
                    @Html.DisplayNameFor(model => model.Modules.ModuleName)
                </th>
                <th class="col-md-2">
                    Module Detail
                </th>
                <th class="col-md-2">
                    @Html.DisplayNameFor(model => model.Modules.UnitPrice)
                </th>
                <th class="col-md-2">
                    Select
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                var moduleNum = @i + 1;
                <tr>
                    <td>@moduleNum</td>
                    <td>
                        <label asp-for="@Model.ElementAt(@i).IsChecked" style="font-weight:100;">
                            @Model.ElementAt(@i).Modules.ModuleName
                        </label>
                    </td>
                    <td>
                        <a style="cursor:pointer" class="Detail"
                           value="@Model.ElementAt(@i).Modules.ModuleId"
                           name="@Model.ElementAt(@i).Modules.ModuleName">
                            <i class="fa fa-info-circle" aria-hidden="true"></i> Detail
                        </a>
                    </td>
                    <td>
                        <label asp-for="@Model.ElementAt(@i).IsChecked" style="font-weight:100;">
                            @Model.ElementAt(@i).Modules.UnitPrice.Price.ToString("C0", fp)
                        </label>
                    </td>
                    <td>
                        @if (@i == 0)
                        {
                            <input type="checkbox" checked="checked" disabled="disabled" value='@Html.Raw(Json.Serialize(Model.ElementAt(@i)))' />
                            <input type="hidden" name="modules" value='@Html.Raw(Json.Serialize(Model.ElementAt(@i)))' />
                        }
                        else
                        {
                            <input type="checkbox" name="modules" class="chkBox" value='@Html.Raw(Json.Serialize(Model.ElementAt(@i)))' />
                        }
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td>
                    <div class="input-group margin-bottom-sm" style="margin-top:20px;">
                        <span class="input-group-addon">
                            <span class="text-danger">
                                <b><i class="fa fa-envelope-o fa-fw"></i> Email Address</b>
                            </span>
                        </span>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <b><input class="form-control" type="email" required="required" name="email" value="@ViewData["Email"]" /></b>
                        }
                        else
                        {
                            <input class="form-control" type="email" required="required" name="email" />
                        }

                    </div>
                </td>
                <td></td>
                <td>
                    <p style="font-size:small">
                        Total :
                        <span name="totalPrice"></span>
                    </p>
                    <p style="font-size:small">
                        Discount:
                        <input type="hidden" name="selectionDiscount" value="0" style="width:50px; border:none;" />
                        <span class="text-danger" name="selectionDiscountDisplay"></span>
                    </p>
                    <p style="font-size:large">
                        Total to pay:
                        <b>
                            <input type="hidden" name="totalAmountToPay" value="0" style="width:60px; border:none;" />
                            <span name="totalAmountToPayDisplay"></span>
                        </b>
                    </p>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="form-group" style="margin-top:-30px;">
        <input type="submit" class="impact-btn" value="Next >>" />
    </div>

</form>

<div id="AddUserForm"></div>

@section scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.css" />

    <script type="text/javascript">
        $(document).ready(function () {
            $("input[type='checkbox']").change(function () {
                calculateTotal();
            });
        });
        function calculateTotal() {
            totalPrice = 0;
            selectionDiscount = 0;
            totalAmountToPay = 0;

            $(':checkbox:checked.chkBox').each(function () {
                var jsonObj = JSON.parse($(this).val());
                console.log($(this).val());
                totalPrice += +jsonObj.modules.unitPrice.price;
            });

            var selectedModules = $(':checkbox:checked').length;

            if (selectedModules >= '@ViewBag.D1SelectFrom' && selectedModules <= '@ViewBag.D1SelectTo' ) {
                selectionDiscount = '@ViewBag.D1DiscountRate';
            } else if (selectedModules > '@ViewBag.D1SelectTo' && selectedModules <= '@ViewBag.D2SelectTo') {
                selectionDiscount = '@ViewBag.D2DiscountRate';
            }

            $('span[name=totalPrice]').text('$' + totalPrice);

            $('input[name=selectionDiscount]').val(selectionDiscount);

            if (selectionDiscount != null || selectionDiscount != 0) {
                $('span[name=selectionDiscountDisplay]').text('- $' + selectionDiscount);
            }

            totalAmountToPay = (totalPrice - selectionDiscount);

            $('input[name=totalAmountToPay]').val(totalAmountToPay);

            if (totalAmountToPay != null || totalAmountToPay != 0) {
                $('span[name=totalAmountToPayDisplay]').text('$' + totalAmountToPay);
            }
        }


    </script>

    <script type="text/javascript">
         var idNum;
         $('.Detail').on('click', function () {

             var idNum = $(this).attr('value');
             var link = '@Url.Action("PartialModuleDetail", "Order", new { id = "-1" })';
             var strTitle = $(this).attr('name');

             link = link.replace("-1", idNum);

             $("#AddUserForm").dialog({
             type: 'GET',
             autoOpen: true,
             position: { my: "top", at: "top+150", of: window },
             width: 600,
             height: 200,
             resizable: false,
             title: strTitle,
             modal: true,
             open: function () {
                 $(this).load(link);
             },
             });
             return false;
         });
    </script>

    <script type="text/javascript">
         var idNum;
         $('.UserNote').on('click', function () {

             var idNum = $(this).attr('value');
             var link = '@Url.Action("PartialModuleDetail", "Order", new { id = "-1" })';
             var strTitle = $(this).attr('name');

             link = link.replace("-1", idNum);

             $("#AddUserForm").dialog({
             type: 'GET',
             autoOpen: true,
             position: { my: "top", at: "top+150", of: window },
             width: 600,
             height: 200,
             resizable: false,
             title: strTitle,
             modal: true,
             open: function () {
                 $(this).load(link);
             },
             });
             return false;
         });
    </script>
}
