@model IEnumerable<ImpactWebsite.Models.OrderModels.OrderDetail>
@using ImpactWebsite.Models.OrderModels

@{
    ViewData["Title"] = "New Order";
    IFormatProvider fp = new System.Globalization.CultureInfo("en-CA");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{ string strSpacer = "&nbsp;&nbsp;"; }

<!-- page heading start-->
<div class="page-heading">
    <h3>
        Order number: @ViewData["OrderNumber"]
    </h3>
    <ul class="breadcrumb">
        <li>
            Analysis
        </li>
        <li class="active">Upload portfolio</li>
    </ul>
</div>

<div class="wrapper">

    <div class="row">
        <div class="col-md-6">
            <section class="panel">
                <header class="panel-heading">
                    Upload portffolio
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">

                    <form asp-action="FileCommentSubmit"
                          asp-controller="Order" class="dropzone" method="post" enctype="multipart/form-data" id="dropzoneForm">
                        <input type="hidden" name="email" value="@ViewData["Email"]" />
                        <input name="file" type="file" multiple />
                        <input type="submit" value="Upload" />
                    </form>

                    <!--
                    <form class="dropzone"
                          id="dropzoneForm"
                          method="post"
                          asp-action="FileCommentSubmit"
                          asp-controller="Order"
                          enctype="multipart/form-data">
                        <div class="fallback">
                            <input type="hidden" name="email" value="@ViewData["Email"]" />
                            <input name="file" type="file" multiple />
                            <input type="submit" value="Upload" />
                        </div>
                    </form>
                        -->

                    <form class="input-group"
                          role="form"
                          asp-action="FileCommentSubmit"
                          asp-controller="Order"
                          style="margin-top:20px;display:block;">
                        <textarea name="noteFromUser"
                                  class="form-control _margin-top-32 _margin-bottom-32"
                                  placeholder="Add any additional comments"
                                  rows="3"></textarea>

                    </form>

                    <button class="btn btn-default" id="submitFileComment">Submit</button>
                </div>
            </section>
        </div>

        <div class="col-md-6">
            <section class="panel">
                <header class="panel-heading">
                    Order summary
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <table class="table table-hover general-table">
                        <thead>
                            <tr>
                                <th class="col-md-1">#</th>
                                <th class="col-md-4">Module Name</th>
                                <th class="col-md-1">Module Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ var subTotal = 0;}
                            @for (int i = 0; i < Model.Count(); i++)
                            {
                                var moduleNum = @i + 1;
                                <tr>
                                    <td>@moduleNum</td>
                                    <td>@Model.ElementAt(@i).Module.ModuleName</td>
                                    <td>@Model.ElementAt(@i).Module.UnitPrice.Price.ToString("C0", fp)</td>

                                </tr>
                                subTotal += Model.ElementAt(@i).Module.UnitPrice.Price;
                            }
                        </tbody>

                        <tr>
                            <td></td>
                            <td class="text-right">
                                Sub-total
                            </td>
                            <td>
                                $@subTotal
                            </td>
                        </tr>


                        <tr>
                            <td></td>
                            <td class="text-right text-danger">
                                Saving
                            </td>
                            @if (!object.Equals(ViewBag.SelectionDiscount, "0"))
                            {
                                <td class="text-danger">
                                    -$@ViewBag.SelectionDiscount
                                </td>
                            }
                            else
                            {
                                <td class="text-danger">
                                    0
                                </td>
                            }
                        </tr>
                        <tr>
                            <td></td>
                            <td class="text-right text-danger">
                                Promotion Discount
                            </td>

                            @if (!object.Equals((string)TempData["PromotionDiscountRate"], "0"))
                            {
                                <td class="text-danger">
                                    @TempData["PromotionDiscountRate"]
                                </td>
                            }
                            else
                            {
                                <td class="text-danger">
                                    0
                                </td>
                            }
                        </tr>

                        <tr>
                            <td></td>
                            <td style="font-size:medium; font-weight: bold;" align="right">
                                Total to pay :
                            </td>
                            @if (ViewData["TotalAmountToPay"] != null)
                            {
                                <td>
                                    <b>
                                        <label style="font-size: large;">$@ViewData["TotalAmountToPay"]</label>
                                    </b>
                                </td>
                            }
                            else
                            {
                                <td><b style="font-size: large;">0</b></td>
                            }
                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                @if (ViewBag.PromotionStatus == PromotionStatusList.Ready)
                                {
                                    <button id="promoCode"
                                            asp-controller="Order"
                                            asp-action="SubmitPromoCode"
                                            class="btn btn-primary pull-left">

                                        <i class="fa fa-barcode" aria-hidden="true"></i>
                                        @Html.Raw(strSpacer)Promotion Code

                                    </button>
                                }
                                else if (ViewBag.PromotionStatus == PromotionStatusList.Applied)
                                {
                                    <button class="btn btn-primary pull-left" pointer-events:none;">

                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        @Html.Raw(strSpacer)Applied

                                    </button>
                                }
                                else if (ViewBag.PromotionStatus == PromotionStatusList.Used)
                                {
                                    <button id="promoCode"
                                            asp-controller="Order"
                                            asp-action="SubmitPromoCode"
                                            class="btn btn-primary pull-left">

                                        <i class="fa fa-barcode" aria-hidden="true"></i>
                                        @Html.Raw(strSpacer)Promotion Code

                                    </button>
                                    <p style="text-align:center; margin-top:20px;" class="text-danger">
                                        The promotion code is already used
                                    </p>
                                }
                        </tr>



                    </table>

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a href="@Url.Action("Index", "Billing",
                    new { @orderId = ViewData["OrderId"] })"
                           class="btn btn-primary _margin-top-32 _margin-bottom-32"
                           style="color:white;"
                           role="button">
                            Proceed to payment
                        </a>
                    }
                    else
                    {
                        <a id="Charge"
                           asp-controller="Order"
                           asp-action="RegisterLogin"
                           asp-route-id="@ViewData["OrderId"]"
                           class="btn btn-primary"
                           style="color:white; margin:32px;"
                           role="button">
                            Proceed to payment
                        </a>
                    }
                </div>

            </section>

        </div>
    </div>
</div>

<div id="AddUserForm"></div>

@section scripts{




    <!--dropzone-->
    <link href="~/lib/dropzone/dist/dropzone.css" rel="stylesheet" />
    <script src="~/lib/dropzone/dist/dropzone.js"></script>

    <link href="~/lib/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet" />


    <script type="text/javascript">

        //File Upload response from the server
        Dropzone.options.dropzoneForm = {
            maxFiles: 2,
            init: function () {
                this.on("maxfilesexceeded", function (data) {
                    var res = eval('(' + data.xhr.responseText + ')');

                });
                this.on("addedfile", function (file) {

                    // Create the remove button
                    var removeButton = Dropzone.createElement("<button>Remove file</button>");


                    // Capture the Dropzone instance as closure.
                    var _this = this;

                    // Listen to the click event
                    removeButton.addEventListener("click", function (e) {
                        // Make sure the button click doesn't submit the form:
                        e.preventDefault();
                        e.stopPropagation();
                        // Remove the file preview.
                        _this.removeFile(file);
                        // If you want to the delete the file on the server as well,
                        // you can do the AJAX request here.
                    });

                    // Add the button to the file preview element.
                    file.previewElement.appendChild(removeButton);
                });
            }
        };
    </script>



    <script type="text/javascript">
        $('#promoCode').on('click', function () {
            $("#AddUserForm").dialog({
            type: 'GET',
            autoOpen: true,
            position: { my: "top", at: "top+150", of: window },
            width: 400,
            height: 150,
            resizable: true,
            title: 'Enter your promotional code',
            modal: true,
            open: function () {
                $(this).load('@Url.Action("SubmitPromoCode", "Order")');
            },
        });
        return false;
        });
    </script>

    <script type="text/javascript">
        $('#FileUpload').on('click', function () {

            $("#AddUserForm").dialog({
            type: 'GET',
            autoOpen: true,
            position: { my: "top", at: "top+100", of: window },
            width: 500,
            height: 400,
            resizable: true,
            title: 'Upload files and add comments',
            modal: true,
            open: function () {
                $(this).load('@Url.Action("FileCommentSubmit", "Order")');
            },
        });
        return false;
    });
    </script>
}
