@model ImpactWebsite.Models.ApplicationUser

@{
    ViewData["Title"] = "Details";
}

@{ string strSpacer = "&nbsp;&nbsp;"; }

<div class="admin-margin">
    <div class="page-heading">
        <h3>User Details :@Html.Raw(strSpacer)@Html.DisplayFor(model => model.Email)</h3>
    </div>

    <div>
        <dl class="dl-horizontal admin-margin-detail">
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CompanyName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CompanyName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NewsletterRequired)
            </dt>
            <dd>
                @if(Model.NewsletterRequired)
                {
                    @Html.Raw("Subscribed");
                }
                else
                {
                    @Html.Raw("N/A");
                }
            </dd>

            <dt>
                User Type
            </dt>
            <dd>
                @if (Model.IsTempUser)
                {
                    @Html.Raw("Temporary User");
                }
                else
                {
                    @Html.Raw("Registered User");
                }
                
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Index" class="btn btn-default" role="button">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            @Html.Raw(strSpacer)Back to list
        </a>
        <a asp-action="Edit" asp-route-id="@Model.Id"
           role="button" class="btn btn-default">
            <span class="fa fa-pencil-square-o"></span>@Html.Raw(strSpacer)Edit
        </a>
    </div>
</div>