@model ImpactWebsite.Models.ApplicationUser

@{
    ViewData["Title"] = "Edit";
}

@{ string strSpacer = "&nbsp;&nbsp;"; }

<form asp-action="Edit">
    <div class="admin-margin">
        <div class="page-heading">
            <h3>User Details :@Html.Raw(strSpacer)@Html.DisplayFor(model => model.Email)</h3>
        </div>

        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Email" />
        <input type="hidden" asp-for="FirstName" />
        <input type="hidden" asp-for="LastName" />
        <input type="hidden" asp-for="CompanyName" />

        <input type="hidden" asp-for="UserName" />
        <input type="hidden" asp-for="NormalizedUserName" />
        <input type="hidden" asp-for="NormalizedEmail" />
        <input type="hidden" asp-for="EmailConfirmed" />
        <input type="hidden" asp-for="PasswordHash" />
        <input type="hidden" asp-for="SecurityStamp" />
        <input type="hidden" asp-for="ConcurrencyStamp" />
        <input type="hidden" asp-for="PhoneNumber" />
        <input type="hidden" asp-for="PhoneNumberConfirmed" />        
        <input type="hidden" asp-for="TwoFactorEnabled" />
        <input type="hidden" asp-for="LockoutEnd" />
        <input type="hidden" asp-for="LockoutEnabled" />
        <input type="hidden" asp-for="AccessFailedCount" />


        <div>
            <dl class="dl-horizontal admin-margin-detail">
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CompanyName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CompanyName)
                </dd>

                <dt></dt>
                <dd></dd>
                <dt></dt>
                <dd></dd>


                <dt>
                    @Html.DisplayNameFor(model => model.NewsletterRequired) ?
                </dt>
                <dd>
                    <input asp-for="NewsletterRequired" class="checkbox"/>
                </dd>

                <dt>
                    Temporary user ?
                </dt>
                <dd>
                    <input asp-for="IsTempUser" class="checkbox"/>
                </dd>
            </dl>

            <a asp-action="Details" asp-route-id="@Model.Id"
               role="button" class="btn btn-default">
                <span class="fa fa-info"></span>@Html.Raw(strSpacer)Details
            </a>

            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
