@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

@{ string strSpacer = "&nbsp;&nbsp;"; }

<div class="col-md-5 center-column">
    <div class="page-heading">
        <h3>Change Password</h3>
        <ul class="breadcrumb">
            <li>
                Admin account
            </li>
            <li class="active">User Profile</li>
        </ul>
    </div>

    <form asp-controller="Manage" asp-action="ChangePassword" id="changePasswordForm">
        <div class="wrapper">
            <div class="panel">
                <div class="panel-body">
                    <ul class="p-info">
                        <li>
                            <div class="title">@Html.DisplayNameFor(Model => Model.OldPassword)</div>
                            <div class="desk">
                                <input asp-for="OldPassword" class="form-control" />
                                <span asp-validation-for="OldPassword" class="text-danger admin-align-middle"></span>
                                <div id="emailChange" class="text-danger" style="margin-top:5px;"></div>
                            </div>
                        </li>
                        <li>
                            <div class="title">@Html.DisplayNameFor(Model => Model.NewPassword)</div>
                            <div class="desk">
                                <input asp-for="NewPassword" class="form-control" />
                                <span asp-validation-for="NewPassword" class="text-danger admin-align-middle"></span>
                            </div>
                        </li>
                        <li>
                            <div class="title">@Html.DisplayNameFor(Model => Model.ConfirmPassword)</div>
                            <div class="desk">
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger admin-align-middle"></span>
                            </div>
                        </li>
                    </ul>
                </div>

                <button class="btn btn-success btn-margin-15"
                        type="submit"
                        id="saveButton"
                        onclick="submitChangePasswordForm">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    @Html.Raw(strSpacer)Save
                </button>

                <a class="btn btn-default" style="margin-left:-5px;"
                   asp-action="Index">
                    <i class="fa fa-ban" aria-hidden="true"></i>
                    @Html.Raw(strSpacer)Cancel
                </a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script type="text/javascript">
        function submitChangePasswordForm() {
            $("#changePasswordForm").submit();
        }
    </script>

}
