@model ApplicationUser
@{
    ViewData["Title"] = "User Profile";
}

@{ string strSpacer = "&nbsp;&nbsp;"; }


<div class="page-heading">
    <h3>
        <i class="fa fa-user" aria-hidden="true"></i>
        @Html.Raw(strSpacer)User Profile
    </h3>
    <ul class="breadcrumb">
        <li>
            Admin account
        </li>
        <li class="active">User Profile</li>
    </ul>
</div>

<p class="text-success">@ViewData["StatusMessage"]</p>

<div class="wrapper">
    <div class="col-md-5">
        <div class="panel">
            <div class="panel-body">
                <ul class="p-info">
                    <li>
                        <div class="title">@Html.DisplayNameFor(Model => Model.Email)</div>
                        <div class="desk">@Html.DisplayFor(Model => Model.Email)</div>
                    </li>
                    <li>
                        <div class="title">Name</div>
                        <div class="desk">@Html.DisplayFor(Model => Model.FirstName) @Html.DisplayFor(Model => Model.LastName)</div>
                    </li>
                    <li>
                        <div class="title">@Html.DisplayNameFor(Model => Model.CompanyName)</div>
                        <div class="desk">@Html.DisplayFor(Model => Model.CompanyName)</div>
                    </li>
                    <li>
                        <div class="title">@Html.DisplayNameFor(Model => Model.PhoneNumber)</div>
                        <div class="desk">@Html.DisplayFor(Model => Model.PhoneNumber)</div>
                    </li>
                    <li>
                        <div class="title">Newsletter Subscription</div>
                        <div class="desk">
                            @if (Model.NewsletterRequired)
                            {
                                <span>Yes</span>
                            }
                            else
                            {
                                <span>No</span>
                            }
                        </div>
                    </li>
                    <li>
                        <div class="title">Password</div>
                        <div class="desk">
                            @if (Model.PasswordHash != null)
            {
                                <a asp-controller="Manage" asp-action="ChangePassword" class="btn btn-default">
                                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                    @Html.Raw(strSpacer)Change
                                </a>
                            }
                            else
                            {
                                <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">
                                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                    @Html.Raw(strSpacer)Create
                                </a>
                            }
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<a asp-controller="Manage"
   asp-action="EditUserInfo"
   class="btn btn-default"
   role="button">
    <span class="glyphicon glyphicon-edit"></span>@Html.Raw(strSpacer)Edit
</a>
