@model ApplicationUser
@{
    ViewData["Title"] = "User Profile";
}

<h2>@ViewData["Title"]</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="margin-bottom:10px;">User Name </dt>
        <dd>
            @Html.DisplayFor(Model => Model.FirstName) @Html.DisplayFor(Model => Model.LastName)            
        </dd>

        <dt style="margin-bottom:10px;">Company Name </dt>
        <dd>
            @Html.DisplayFor(Model => Model.CompanyName)
        </dd>

        <dt style="margin-bottom:10px;">Subscription </dt>
        <dd>
            @Html.DisplayFor(Model => Model.NewsletterRequired)
        </dd>

        <dt style="margin-bottom:10px;">Password </dt>
        <dd>
            @if (Model.PasswordHash != null)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Change</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Create</a>
            }
        </dd>    
    </dl>
</div>
