@model ApplicationUser
@{
    ViewData["Title"] = "User Profile";
}

@{ string strSpacer = "&nbsp;&nbsp;"; }

<h2>
    <i class="fa fa-user-circle" aria-hidden="true"></i>
    @Html.Raw(strSpacer)User Profile
</h2>

<br />

<p class="text-success">@ViewData["StatusMessage"]</p>

<table class="table userProfileTable">

    <tr>
        <th>@Html.DisplayNameFor(Model => Model.Email)</th>
        <td>
            @Html.DisplayFor(Model => Model.Email)
        </td>
    </tr>

    <tr>
        <th>Name</th>
        <td>
            @Html.DisplayFor(Model => Model.FirstName) @Html.DisplayFor(Model => Model.LastName)
        </td>
    </tr>

    <tr>
        <th>@Html.DisplayNameFor(Model => Model.CompanyName)</th>
        <td>
            @Html.DisplayFor(Model => Model.CompanyName)
        </td>
    </tr>

    <tr>
        <th>Phone Number</th>
        <td>
            @Html.DisplayFor(Model => Model.PhoneNumber)
        </td>
    </tr>

    <tr>
        <th>Newsletter Subscription</th>
        <td>
            @if (Model.NewsletterRequired)
            {
                <span>Yes</span>
            }
            else
            {
                <span>No</span>
            }
        </td>
    </tr>

    <tr>
        <th>Password</th>
        <td>
            @if (Model.PasswordHash != null)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn btn-default">
                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    Change
                </a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">
                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    Create
                </a>
            }
        </td>
    </tr>

</table>

<br />

<a asp-controller="Manage"
   asp-action="EditUserInfo"
   class="btn btn-default"
   role="button">
    <span class="glyphicon glyphicon-edit"></span> Edit
</a>
